:root {
  --bg:#092635;
  --bgSoft: #1B4242;
  --text: white;
  --textSoft: #9EC8B9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

.main {
  padding: 4px 10%;
}

a {
  color: inherit;
  text-decoration: none;
}


